@font-face {
  font-family: 'CircularStd-Medium';
  src: url(../fonts/CircularStd-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'HeldaneText-Regular';
  src: url(../fonts/HeldaneText-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'HeldaneText-RegularItalic';
  src: url(../fonts/HeldaneText-RegularItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'HeldaneText-Medium';
  src: url(../fonts/HeldaneText-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Sohne-Regular';
  src: url(../fonts/Sohne-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Sohne-Medium';
  src: url(../fonts/Sohne-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Sohne-Bold';
  src: url(../fonts/Sohne-Bold.woff2) format('woff2');
}


