h1{
	font-family: 'HeldaneText-Regular', monospace;
	font-weight: 500;
}
h3{
	font-family: 'HeldaneText-Regular', monospace;
	font-weight: 500;
}
p{
	font-family: 'HeldaneText-Regular', monospace;
	font-weight: 500;
}
h3 em,
h1 em{
  font-family: 'HeldaneText-RegularItalic';
	font-weight: 500;
}

small{
  font-family: 'Sohne-Medium', monospace;
	font-weight: 500;
}
